<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petshop | Franco - Contacto</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Enriqueta&family=Fredoka+One&family=Quicksand&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/custom.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body id="contacteseniore">
    <div id="app">
        {{actualizarCards}}
        <div id="main-content">
            <header class="header_interior">
                <div class="logo__header-interior">
                    <a class="navbar-brand fs-3 fw-ligth text-light  d-flex align-items-center" href="#">
                        <img class="logo_nav bg-light rounded-circle ms-3" src="./assets/logo.png" alt="logo">
                        <h1 class="ms-2 fs-3">Pet<span class="fs-2 shop">Shop</span><span
                                class="nombre fs-3 text-light">Franco</span>
                        </h1>
                    </a>
                </div>


                <input type="checkbox" id="nav-toggle" class="nav-toggle">

                <div class="nav_interior">

                    <nav>
                        <ul class="align-items-center">
                            <li><a href="./index.html">Inicio</a></li>
                            <li><a href="./juguetes.html">Juguetes</a></li>
                            <li><a href="./farmacia.html">Farmacia</a></li>
                            <li><a href="./tienda.html">Tienda</a></li>
                            <li><a href="./contactenos.html">Contacto</a></li>

                            <button class="canvas" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">

                                <i class="fa-solid fa-cart-shopping carrito-nav-interior"></i>
                                <div class="mx-2 text-left">
                                    <p class="m-0">({{totalEnCarrito}})</p>
                                    <p class="m-0">Total: ${{precioTotal}}</p>

                            </button>






                        </ul>
                    </nav>

                </div>

                <label for="nav-toggle" class="nav-toggle-label">
                    <span></span>
                </label>
            </header>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h3 class="text-center canvasTitulo">Productos en Carrito</h3>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column justify-content-between p-0">
                <div class="p-3">
                    <table class="table table-hover">
                        <thead>
                            <th class="text-center">Imagen</th>
                            <th class="text-center">Producto</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Accion</th>
                        </thead>
                        <tbody>
                            <tr v-for="producto in productosEnCarrito">
                                <td><img :src="producto.imagen" class="rounded-circle" alt="" width="40"></td>
                                <td class="pt-3 text-center"> {{producto.nombre}}</td>
                                <td class="pt-3 text-center"> ${{producto.precio}}</td>
                                <td class="pt-3 text-center">{{producto.cantidad}} </td>
                                <td>
                                    <div class="d-flex w-100 justify-content-evenly">

                                        <button class=" btn-info btn-sm" @click="añadirAlCarrito(producto)">

                                            +
                                        </button>
                                        <button class=" btn-danger btn-sm " @click="eliminarDelCarrito(producto)">
                                            -
                                        </button>
                                    </div>
                                </td>


                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-center" colspan="3">Total a pagar: $ {{precioTotal}}
                                </td>
                                <td colspan="2">Productos: {{totalEnCarrito}}</td>
                            </tr>

                        </tfoot>




                    </table>

                    <button v-if="productosEnCarrito.length>0" href="#" id="botoncinNav"
                        class="btn btn-success canvasButton " @click="comprarProductos">Comprar</button>
                    <button v-if="productosEnCarrito.length>0" href="#" id="botoncinNav"
                        class="btn btn-danger canvasButton " @click="vaciarCarrito()">Vaciar</button>
                </div>
                <div>
                    <img id="backgroundCanva" src="./assets/backgroundPrueba.jpg" alt="">
                </div>
            </div>
        </div>



            <h1 class="text-center mt-4 contacto">Contactanos!</h1>
            <div id="basco" class="d-flex justify-content-center align-items-center">

                <form id="contactenos" class="row g-3 w-25 align-self-center p-3 mt-5 flex-wrap" data-aos="zoom-in"
                    data-aos-duration="1000">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="name" placeholder="Bob Esponja">
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">Apellido:</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Pantalones Cuadrados">
                    </div>
                    <div class="col-12">
                        <label for="phone" class="form-label">Telefono:</label>
                        <input type="number" class="form-control" id="phone" placeholder="Ej: 1150783298">
                    </div>
                    <div class="col-md-12">
                        <label for="inputCity" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="inputCity"
                            placeholder="Bobesponja@crustaceoCascarudo.com">
                    </div>
                    <div>
                        <p>Seleccione Mascota:</p>
                        <div class="form-check form-check-inline w-25 gaturro">
                            <label class="form-check-label" for="inlineRadio1">Gato</label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1">

                        </div>
                        <div class="form-check form-check-inline w-25 gaturro">
                            <label class="form-check-label" for="inlineRadio2">Perro</label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">

                        </div>
                        <div class="form-check form-check-inline w-25 gaturro">
                            <label class="form-check-label" for="inlineRadio3">Otro</label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                value="option3">

                        </div>
                    </div>

                    <div class="col-12">
                        <label for="exampleFormControlTextarea1" class="form-label">Mensaje:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <button id="BTN1" type="submit" class="learn-more">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="button-text">Enviar!</span>
                    </button>
                </form>


                <article class="ps-3 ms-3 align-self-center ow g-3 w-25 ">
                    <p class="d-none d-md-block">Formulario de contacto! ante cualquier duda envianos un mensaje y te
                        responderemos lo mas rapido
                        posible!
                    </p>
                    <p class="d-none d-md-block">Ante emergencias nuestra direccion es: Rio de Janeiro N°300
                        (Caballito), guardias 24hs.</p>
                    <iframe class="d-none d-md-block"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.6869258109523!2d-58.43257238477008!3d-34.612077380457414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca429815227f%3A0x5d302e497c2cda87!2sR%C3%ADo%20de%20Janeiro%20300%2C%20C1405CCB%20CABA!5e0!3m2!1ses-419!2sar!4v1649948522581!5m2!1ses-419!2sar"
                        width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>

                </article>

            </div>

        </div>
        <footer class="text-white">
            <div class="contenedor-footer">
                <div data-aos="zoom-in" data-aos-duration="1000">
                    <div class="contenedor-logo">
                        <img class="logo-footer" src="./assets/logo.png" alt="logoPng">
                    </div>
                    <a class="navbar-brand-footer pb-3" href="#">Pet<span class="fw-bold">Shop</span> Franco</a>
                    <p class="h6">© 2022 Franco mundo de las mascotas</p>
                    <p class="h6">Todos los derechos reservados</p>
                </div>
                <div data-aos="zoom-in" data-aos-duration="1000">
                    <h5 class="pb-4 h3">Acerca de Franco</h5>
                    <div class="contenedor-botones ">
                        <a class="h6" href="#">Blog</a>
                        <a class="h6" href="#">Trabaja con Nosotros</a>
                        <a class="h6" href="#">Sucursales</a>
                        <a class="h6" href="#">Revista del mes</a>
                        <a class="h6" href="#">Desarrollo Institucuinal</a>
                        <a class="h6" href="#">Proveedores</a>
                        <a class="h6" href="#">Franquicias</a>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="1000">
                    <h5 class="pb-4 h3">Servicios</h5>
                    <div class="contenedor-botones">
                        <a class="h6" href="#">Envío Programado</a>
                        <a class="h6" href="#">Formas de Entrega</a>
                        <a class="h6" href="#">Cambios y devoluciones</a>
                        <a class="h6" href="#">Legales</a>
                        <a class="h6" href="#">Cyber Monday 2022</a>
                        <a class="h6" href="#">Hotsale 2022</a>
                        <a class="h6" href="#">Botón de arrapentimiento</a>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="1000">
                    <h5 class="pb-4 h3">Contacto</h5>
                    <div>
                        <p class="h6">Atencion Telefonica</p>
                        <p class="h6">0810-220-2345</p>
                    </div>
                    <div class="pt-3">
                        <p class="h6">Atencion Whatsapp</p>
                        <p class="h6">+54-911-6702-6320</p>
                    </div>
                    <div class="pt-3">
                        <p class="h6">Lunes a Sabado de 9 a 21hs</p>
                        <p class="h6">Domingo de 10 a 20 hs</p>
                    </div>
                </div>
                <div class="contenedorDeLogos" data-aos="zoom-in" data-aos-duration="1000">
                    <div class="iconos-wrapper pb-2">
                        <i class="fa-brands fa-instagram iconos pe-2 ps-3 "></i>
                        <i class="fa-brands fa-facebook-f  iconos pe-2"></i>
                        <i class="fa-brands fa-twitter iconos pe-2"></i>
                        <i class="fa-brands fa-pinterest-p iconos"></i>
                    </div>
                    <img class="iconoGoogle" src="./assets/apps.png" alt="iconoGoogle">
                    <div class="pt-1">
                        <img class="tarjetas ps-3" src="./assets/Visa-Card-Logo-PNG-Clipart-Background.png"
                            alt="tarjetas">
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://kit.fontawesome.com/2544a6d2ae.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./scripts/main.js"></script>


</body>

</html>