<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Enriqueta&family=Fredoka+One&family=Quicksand&display=swap"
        rel="stylesheet">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/custom.css">
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <title> Petshop | Franco - Juguetes</title>
</head>

<body id="farmacia">

    <div id="app">
        <div id="main-content">
            <header class="header_interior">
                <div class="logo__header-interior">
                    <a class="navbar-brand fs-3 fw-ligth text-light  d-flex align-items-center" href="#">
                        <img class="logo_nav bg-light rounded-circle ms-3" src="./assets/logo.png" alt="logo">
                        <h1 class="ms-2 fs-3">Pet<span class="fs-2 shop">Shop</span><span
                                class="nombre fs-3 text-light">Franco</span>
                        </h1>
                    </a>
                </div>


                <input type="checkbox" id="nav-toggle" class="nav-toggle">

                <div class="nav_interior">

                    <nav>
                        <ul class="align-items-center">
                            <li><a href="./index.html">Inicio</a></li>
                            <li><a href="./juguetes.html">Juguetes</a></li>
                            <li><a href="./farmacia.html">Farmacia</a></li>
                            <li><a href="./tienda.html">Tienda</a></li>
                            <li><a href="./contactenos.html">Contacto</a></li>

                            <button class="canvas" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">

                                <i class="fa-solid fa-cart-shopping carrito-nav-interior"></i>
                                <div class="mx-2 text-left">
                                    <p class="m-0">({{totalEnCarrito}})</p>
                                    <p class="m-0">Total: ${{precioTotal}}</p>
                            </button>
                        </ul>
                    </nav>

                </div>

                <label for="nav-toggle" class="nav-toggle-label">
                    <span></span>
                </label>
            </header>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h3 class="text-center canvasTitulo">Productos en Carrito</h3>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-flex flex-column justify-content-between ">
                    <div class="p-3">
                        <table class="table table-hover">
                            <thead>
                                <th class="text-center">Imagen</th>
                                <th class="text-center">Producto</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Accion</th>
                            </thead>
                            <tbody>
                                <tr v-for="producto in productosEnCarrito">
                                    <td><img :src="producto.imagen" class="rounded-circle" alt="" width="40"></td>
                                    <td class="pt-3 text-center"> {{producto.nombre}}</td>
                                    <td class="pt-3 text-center"> ${{producto.precio}}</td>
                                    <td class="pt-3 text-center">{{producto.cantidad}} </td>
                                    <td>
                                        <div class="d-flex w-100 justify-content-evenly">

                                            <button class=" btn-info btn-sm" @click="añadirAlCarrito(producto)">

                                                +
                                            </button>
                                            <button class=" btn-danger btn-sm " @click="eliminarDelCarrito(producto)">
                                                -
                                            </button>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-center" colspan="3">Total a pagar: $ {{precioTotal}}
                                    </td>
                                    <td colspan="2">Productos: {{totalEnCarrito}}</td>
                                </tr>

                            </tfoot>

                        </table>

                        <button v-if="productosEnCarrito.length>0" href="#" id="botoncinNav"
                            class="btn btn-success canvasButton " @click="comprarProductos">Comprar</button>
                        <button v-if="productosEnCarrito.length>0" href="#" id="botoncinNav"
                            class="btn btn-danger canvasButton " @click="vaciarCarrito()">Vaciar</button>
                    </div>
                    <div>
                        <img id="backgroundCanva" src="./assets/backgroundPrueba.jpg" alt="">
                    </div>
                </div>
            </div>


            <section class="d-flex justify-content-center">
                <div id="carouselExampleInterval" class="carousel slide w-100 d-none d-sm-block"
                    data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="contaiter-carousel-items mt-5">
                                <div class="container-item" v-for="item in carrouselActive">
                                    <div class="container-img">
                                        <img :src="item.imagen" class="carousel-img" alt="" srcset="" />
                                    </div>
                                    <div class="carrousel-text">
                                        <h4>{{item.nombre}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="contaiter-carousel-items mt-5">
                                <div class="container-item" v-for="item in carrouselOne">
                                    <div class="container-img">
                                        <img :src="item.imagen" class="carousel-img" alt="" srcset="" />
                                    </div>
                                    <div class="carrousel-text">
                                        <h4>{{item.nombre}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </section>
            
            <section id="contenedor">
                {{actualizarCards}}

                <form class="d-flex justify-content-center m-5">
                    <select name="" id="select" class="rounded-pill" v-model="filtroPrecio">
                        <p>filtrar</p>
                        <option value="all" selected>Filtrar por:</option>
                        <option value="Mayor a Menor">Precio Ascendente</option>
                        <option value="Menor a Mayor">Precio Descendente</option>
                        <option value="hasta500">Hasta $500</option>
                        <option value="desde500">Desde $500</option>
                    </select>
                </form>

                <div class="d-flex justify-content-evenly align-content-evenly flex-wrap gap-5">

                    <div class="card borde" v-for="producto in productosOrdenadosJuguetes">
                        <!-- <i id="favorito" class="fa-solid fa-heart"></i> -->
                        <img :src="producto.imagen" alt="rover" />

                        <div class="card-body">
                            <span v-if="producto.stock<=5 & producto.stock>0" class="tag tag-poco-stock">ultimas
                                unidades!!!</span>
                            <span v-if="producto.stock == 0" class="tag tag-agotado">Agotado 😢</span>
                            <h4>
                                {{producto.nombre}}
                            </h4>
                            <p>
                                {{producto.descripcion}}
                            </p>
                            <h5>$ {{producto.precio}}</h5>
                            <h5>Stock: {{producto.stock}}</h5>
                            <div class="d-flex justify-content-center">
                                <!-- <i class="fa-solid fa-angle-left"></i> -->
                                <!-- <input type="number" placeholder="1" name="cantidad" min="1" :max="producto.stock"> -->
                                <!-- <i class="fa-solid fa-angle-right"></i></div> -->
                                <button id="buttonJuguetes" class="card-button align-self-center ms-3"
                                    @click="añadirAlCarrito(producto)">Añadir al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <p class="contenedorDestacados mt-5 mb-5 h3" data-aos="zoom-in" data-aos-duration="2000"></p>

        <div class="d-flex justify-content-evenly mt-5" data-aos="zoom-in" data-aos-duration="2000">
            <div class="text-center">
                <i class="fa-solid fa-dog iconosAnimal"></i>
                <h4 class="mt-3 h2 textoColorFarmacia">Variedad</h4>
                <p class="fs-5">En nuestros locales y nuestra web </p>
                <p class="fs-5">encontraras la mas grande variedad de productos.</p>
            </div>
            <div class="text-center">
                <i class="fa-solid fa-cat iconosAnimal"></i>
                <h4 class="mt-3 h2 textoColorFarmacia">Atencion</h4>
                <p class="fs-5">Te brindamos atención personalizada </p>
                <p class="fs-5">para que tengas la mejor experiencia.</p>
            </div>
            <div class="text-center">
                <i class="fa-solid fa-paw iconosAnimal"></i>
                <h4 class="mt-3 h2 textoColorFarmacia">Responsabilidad</h4>
                <p class="fs-5">Contamos con profesionales altamente capacitados </p>
                <p class="fs-5">para la atención de su mascota.</p>
            </div>
        </div>

        <p class="contenedorDestacados mt-5 mb-5 h3" data-aos="zoom-in" data-aos-duration="2000"></p>

        <section class="contenedorDeliveryFarmacia" data-aos="zoom-in" data-aos-duration="2000">
            <article>
                <h4 class="h3 mb-2 textoColorFarmacia">Delivery</h4>
                <p class="fs-5">Franco.com cuenta con envíos a domicilio sin cargo </p>
                <p class="fs-5">en C.A.B.A y G.B.A. si tu compra supera los $3500.</p>
                <p class="fs-5"><span>Por compras menores a $3500</span>, consultá el costo de envío telefónico </p>
                <p class="fs-5">al <span>0810-888-7387 o vía Whatsapp al 11-2040-1240.</span></p>
                <p class="fs-5">realizamos envíos por encomienda a todo el país con la empresa transportista que el
                    cliente elija.</p>
                <p class="fs-5"> Si el despacho se hace desde Retiro tiene un costo adicional.</p>
                <p class="fs-5">El costo del despacho es a cargo del comprador.</p>
            </article>
            <article>
                <h4 class="h3 mb-2 mt-5 textoColorFarmacia">Envío en el día</h4>
                <p class="fs-5">Realiza tu pedido antes de las 12 hs. y recibilo en tu casa el mismo día.Válido para
                    C.A.B.A y G.B.A.</p>
                <h5 class="h4 mt-3 mb-2">Condiciones:</h5>
                <ul>
                    <li>De lunes a sábado realizando tu pedido de 0 a 12hs., lo recibís el mismo día entre las 14 y 21
                        hs.</li>
                    <li>De lunes a viernes realizando tu pedido entre las 12 y 24 hs., lo recibís al siguiente.</li>
                    <li>Los pedidos realizados los sábados a partir de las 12 hs. y domingos los recibís el día lunes.
                    </li>
                    <li>Día feriado no aplica.</li>
                    <li>Lujan, Campana, La Plata y Rosario quedan exceptuados.</li>
                </ul>
            </article>
        </section>

        <footer class="text-white" data-aos="zoom-in" data-aos-duration="2000">>
            <div class="contenedor-footer">
                <div data-aos="zoom-in" data-aos-duration="1000">
                    <div class="contenedor-logo">
                        <img class="logo-footer" src="./assets/logo.png" alt="logoPng">
                    </div>
                    <a class="navbar-brand-footer pb-3" href="#">Pet<span class="fw-bold">Shop</span> Franco</a>
                    <p class="h6">© 2022 Franco mundo de las mascotas</p>
                    <p class="h6">Todos los derechos reservados</p>
                </div>
                <div data-aos="zoom-in" data-aos-duration="1000">
                    <h5 class="pb-4 h3">Acerca de Franco</h5>
                    <div class="contenedor-botones ">
                        <a class="h6" href="#">Blog</a>
                        <a class="h6" href="#">Trabaja con Nosotros</a>
                        <a class="h6" href="#">Sucursales</a>
                        <a class="h6" href="#">Revista del mes</a>
                        <a class="h6" href="#">Desarrollo Institucuinal</a>
                        <a class="h6" href="#">Proveedores</a>
                        <a class="h6" href="#">Franquicias</a>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="1000">
                    <h5 class="pb-4 h3">Servicios</h5>
                    <div class="contenedor-botones">
                        <a class="h6" href="#">Envío Programado</a>
                        <a class="h6" href="#">Formas de Entrega</a>
                        <a class="h6" href="#">Cambios y devoluciones</a>
                        <a class="h6" href="#">Legales</a>
                        <a class="h6" href="#">Cyber Monday 2022</a>
                        <a class="h6" href="#">Hotsale 2022</a>
                        <a class="h6" href="#">Botón de arrapentimiento</a>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="1000">
                    <h5 class="pb-4 h3">Contacto</h5>
                    <div>
                        <p class="h6">Atencion Telefonica</p>
                        <p class="h6">0810-220-2345</p>
                    </div>
                    <div class="pt-3">
                        <p class="h6">Atencion Whatsapp</p>
                        <p class="h6">+54-911-6702-6320</p>
                    </div>
                    <div class="pt-3">
                        <p class="h6">Lunes a Sabado de 9 a 21hs</p>
                        <p class="h6">Domingo de 10 a 20 hs</p>
                    </div>
                </div>
                <div class="contenedorDeLogos" data-aos="zoom-in" data-aos-duration="1000">
                    <div class="iconos-wrapper pb-2">
                        <i class="fa-brands fa-instagram iconos pe-2 ps-3 "></i>
                        <i class="fa-brands fa-facebook-f  iconos pe-2"></i>
                        <i class="fa-brands fa-twitter iconos pe-2"></i>
                        <i class="fa-brands fa-pinterest-p iconos"></i>
                    </div>
                    <img class="iconoGoogle" src="./assets/apps.png" alt="iconoGoogle">
                    <div class="pt-1">
                        <img class="tarjetas ps-3" src="./assets/Visa-Card-Logo-PNG-Clipart-Background.png"
                            alt="tarjetas">
                    </div>
                </div>
            </div>
        </footer>

    </div>



    <script src="https://kit.fontawesome.com/2544a6d2ae.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="./scripts/main.js"></script>

</body>

</html>