<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/custom.css">
  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
</head>

<body id="tienda">
  <header class="header_interior">
    <div class="logo__header-interior">
        <a class="navbar-brand fs-3 fw-ligth text-light  d-flex align-items-center" href="#">
            <img class="logo_nav bg-light rounded-circle ms-3" src="./assets/logo.png" alt="logo">
            <h1 class="ms-2 fs-3">Pet<span class="fs-2 shop">Shop</span><span
                    class="nombre fs-3 text-light">Franco</span>
            </h1>
        </a>
    </div>


    <input type="checkbox" id="nav-toggle" class="nav-toggle">

    <div class="nav_interior">

        <nav>
            <ul class="align-items-center">
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./juguetes.html">Juguetes</a></li>
                <li><a href="./farmacia.html">Farmacia</a></li>
                <li><a href="./tienda.html">Tienda</a></li>
                <li><a href="./contactenos.html">Contacto</a></li>

                <button class="canvas" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">

                    <i class="fa-solid fa-cart-shopping carrito-nav-interior"></i>
                    <div class="mx-2 text-left">
                        <p class="m-0">({{totalEnCarrito}})</p>
                        <p class="m-0">Total: ${{precioTotal}}</p>

                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                    aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h3 class="text-center canvasTitulo">Productos en Carrito</h3>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">

                        <table class="table table-dark table-striped table-hover">
                            <thead>
                                <th class="text-center">Imagen</th>
                                <th class="text-center">Producto</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Accion</th>
                            </thead>
                            <tbody>
                                <tr v-for="producto in productosEnCarrito">
                                    <td><img :src="producto.imagen" class="rounded-circle" alt=""
                                            width="40"></td>
                                    <td class="pt-3 text-center"> {{producto.nombre}}</td>
                                    <td class="pt-3 text-center"> ${{producto.precio}}</td>
                                    <td class="pt-3 text-center">{{producto.cantidad}} </td>
                                    <td>
                                        <div style="text-align: center " class="d-flex">
                                        
                                            <button class=" btn-info btn-sm" @click="añadirAlCarrito(producto)">
                                            
                                              +
                                            </button>
                                            <button class=" btn-danger btn-sm ms-1" @click="eliminarDelCarrito(producto)">  
                                              -
                                            </button>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-center" colspan="3">Total a pagar: $ {{precioTotal}}
                                    </td>
                                    <td colspan="2">Productos: {{totalEnCarrito}}</td>
                                </tr>

                            </tfoot>




                        </table>

                        <button v-if="productosEnCarrito.length>0" href="#" id="botoncinNav"
                            class="btn btn-success canvasButton " @click="comprarProductos">Comprar</button>
                        <button v-if="productosEnCarrito.length>0" href="#" id="botoncinNav"
                            class="btn btn-danger canvasButton " @click="vaciarCarrito()">Vaciar</button>

                    </div>
                </div>




            </ul>
        </nav>

    </div>

    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
  <div id="app">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-aos="zoom-in"
      data-aos-duration>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/ca5ef23d5aecef4f586b109c89cd9ce146bc4b8d_slidecaty nov_dixon.jpg"
            class="d-block-promociones" alt="promocionPeluches">
        </div>
        <div class="carousel-item">
          <img src="./assets/ffe29f4d78bcff26b1c7be8e72ac331fd84f82cc_slides cyc abril_ pascuas.jpg"
            class="d-block-promociones " alt="promocionPascua">
        </div>
        <div class="carousel-item">
          <img src="./assets/0477d7846840992b167d207467fbdb26889f86c5_Todo Mascotas Varios JUL_Banner WEB 2.png"
            class="d-block-promociones " alt="promocionProductos">
        </div>
        <div class="carousel-item">
          <img src="./assets/nueva-imagen-concurso-mascotas.png" class="d-block-promociones " alt="promocionSpa">
        </div>
        <div class="carousel-item ">
          <img src="./assets/220e2965adb3ef9dc1d53d7df142958169d506ec_slides cyc OLD PRINCE BONUS + SNACK.jpg"
            class="d-block-promociones " alt="promocionAlimentoPerro">
        </div>
        <div class="carousel-item">
          <img src="./assets/a392a8fdfb3f11632b46d77f8a68614b39a14c00_slides cyc fawna + golosina hasta 15of.jpg"
            class="d-block-promociones " alt="promocionAlimentoGato">
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/images.jpg" class="d-block-promociones " alt="promocionProductos">
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class=" mt-5" data-aos="zoom-in" data-aos-duration>
      <img class="col-3" src="./assets/banner-1.png" alt="mediosDePagos">
      <img class="col-3" src="./assets/banner-2.jpg" alt="tarjetasPagos">
      <img class="col-3" src="./assets/banner-3.jpg" alt="envios">
      <img class="col-3" src="./assets/banner-4-(3).jpg" alt="consultas">
    </div>
    <div data-aos="zoom-in" data-aos-duration>
      <h4 class="contenedorDestacados mt-5 h3" data-aos="zoom-in" data-aos-duration="2000">Algunas marcas con las que
        trabajamos</h4>
    </div>
    <div>
      <div class="marcasAlimentos d-flex justify-content-evenly mt-3">
        <img class="logoAlimento logosVital" src="./assets/3-Vital-can-logo.png" alt="alimentoVital">
        <img class="logoAlimento logosAlimentos mt-5 ms-3" src="./assets/Advance-PNG.png" alt="alimentoA">
        <img class="logoAlimento logosAlimentosk ms-3 mt-4 " src="./assets/essentials.png" alt="alimentoE">
        <img class="logoAlimento logosKongo mt-4 " src="./assets/kongo.png" alt="alimentoK">
        <img class="logoAlimento logosAlimentosk ms-1 mt-4 " src="./assets/logo-estampa2.jpg" alt="alimentoE">
      </div>
      <div class="marcasAlimentos d-flex justify-content-evenly mt-3 mb-3">
        <img class="logoAlimento logosAlimentos mt-3 mt-5" src="./assets/logo-new-es.png" alt="alimentoEquilibrio">
        <img class="logoAlimento logosVital ms-3" src="./assets/meraki-logo-eukanuba.png" alt="alimentoEukanuba">
        <img class="logoAlimento logosAlimentosP ms-3 mt-4 " src="./assets/purina-logo-round.png" alt="alimentoP">
        <img class="logoAlimento logosAlimentosR mt-3 ms-4 " src="./assets/Royal-Canin-Logo.png" alt="alimentoRoyal">
        <img class="logoAlimento logosAlimentosR mt-3 ms-4 " src="./assets/whiskas.png" alt="alimentoW">
      </div>
    </div>


    <div>
      <h4 class="contenedorDestacados mb-5 h3" data-aos="zoom-in" data-aos-duration="2000">Algunos de nuestros Productos
        de Juguetes</h4>
    </div>


    <div class="d-flex justify-content-evenly">
      <div class="row row-cols-1 w-75 row-cols-md-3 g-4" data-aos="zoom-in" data-aos-duration="2000">
        <div class="col" v-for="producto in productosJuguetesTienda">
          <div class="card h-100 borde">
            <img :src="producto.imagen" class="card-img-top borde" alt="...">
            <div id="contenedorDescripcionTienda" class="card-body">
              <h5 class="card-title h4">{{producto.nombre}} </h5>
              <p class="card-text h5">{{producto.descripcion}} </p>
              <a href="./juguetes.html" class="btn">Leer más</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <h4 class="contenedorDestacados mt-5 mb-5 h3" data-aos="zoom-in" data-aos-duration="2000">Algunos de nuestros
      Productos de Farmacia</h4>

    <div class="d-flex justify-content-evenly">
      <div class="row row-cols-1 mb-5 w-75 row-cols-md-3 g-4" data-aos="zoom-in" data-aos-duration="2000">
        <div class="col" v-for="producto in productosFarmaciaTienda">
          <div class="card  h-100 borde">
            <img :src="producto.imagen" class="card-img-top borde" alt="...">
            <div id="contenedorDescripcionTienda" class="card-body">
              <h5 class="card-title h4">{{producto.nombre}} </h5>
              <p class="card-text h5">{{producto.descripcion}} </p>
              <a href="./farmacia.html" class="btn">Leer más</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="carouselExampleCaptions" class="carousel slide mt-3 d-none d-sm-block" data-bs-ride="carousel" data-aos="zoom-in"
      data-aos-duration="2000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/solid.png" class="d-block imagen-perro" alt="2fb38e">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="h1">Historias de Éxitos</h5>
            <img class="perfilImagen" src="./assets/3OVFVNPTAVG6ZH2QGPI2USOCAI.jpeg" alt="perfilAndrea">

            <div class="estrellasTienda">
              <img class="estrellasPerfil" src="./assets/3D-Gold-5-Star-Rating-Transparent-PNG.png"
                alt="estrellasPuntuacion">
            </div>
            <p>Me encanta😍, tiene muy buenos precios. </p>
            <p>Entregan a horario y en una amplia franja horario para los que tenemos horarios complicados.</p>
            <p>A último momento me cambiaron y sin problemas ellos me modificaron el día de entrega.</p>
            <p>Som muy amables😙❤</p>
            <h6 class="h5">~ Andrea </h6>
          </div>
        </div>

        <div class="carousel-item">
          <img src="./assets/solid.png" class="d-block" alt="f37b21">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="h1 ">Historias de Éxitos</h5>
            <img class="perfilImagen" src="./assets/216984grande.jpg" alt="perfilDaniel">
            <div class="estrellasTienda ">
              <img class="estrellasPerfil" src="./assets/3D-Gold-5-Star-Rating-Transparent-PNG.png"
                alt="estrellasPuntuacion">
            </div>
            <p>Compré por la página y llegó rapidisimo.</p>
            <p>Además tiene muy buenas ofertas y una exelente atención.</p>
            <p>Muy recomendable, sin dudas los vamos a volver a elegir.😁</p>
            <h6 class="h5">~ Daniel Jiménez</h6>
          </div>
        </div>

        <div class="carousel-item">
          <img src="./assets/solid.png" class="d-block" alt="c35edb">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="h1">Historias de Éxitos</h5>
            <img class="perfilImagen" src="./assets/mujer_soltera_inteligente_crop1536647098432.jpg_242310155.webp"
              alt="perfilMaría">
            <div class="estrellasTienda">
              <img class="estrellasPerfil" src="./assets/3D-Gold-5-Star-Rating-Transparent-PNG.png"
                alt="puntuacionEstrellas">
            </div>
            <p>Muy atentos, amables y llego más rapido de lo esperado. </p>
            <p>Además tienen todo lo que necesitaba para mi gatito: alimento, rascadores y juguetes.</p>
            <p>😚Gracias chicos!!🤗</p>
            <h6 class="h5">~ María Inés</h6>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="row d-flex parrafoTiendaDiferencia justify-content-center align-items-center">
      <div class=" col-6 mt-5 d-inline wap" data-aos="fade-down" data-aos-duration="2000">
        <h4 class="h2 mb-5">¿Qué nos diferencia?</h4>
        <div class="text-break w-50 h6 container-title-responsive">
          <h5 class="h4 mb-3 mt-5" id="tituloTiendaDiferencia">Experiencia</h5>
          <p style="font-weight: 400;font-size: 22px">Creemos que el hecho de trabajar durante 8 años con éxito nos
            permite afirmar que <strong>contamos con la experiencia suficiente y necesaria</strong> para este servicio,
            desde
            cuestiones logísticas y legales, hasta pequeños detalles para que tu mascota tenga una salud excelente
          </p>
        </div>
        <div class="w-50 h6 mt-5 container-title-responsive">
          <h5 class="h4 mb-3" id="tituloTiendaDiferencia">Compromiso</h5>
          <p style="font-weight: 400;font-size: 22px">De la misma manera en la que nos
            comprometemos 100% con la salud de los consentidos del hogar,
            también lo hacemos con cada una de sus familias. <strong>Hacemos nuestro mayor esfuerzo para
              que estén tranquilos y sientan seguridad</strong>. Nos comunicamos con ellos antes, durante, y después de
            cada
            compra.
          </p>
        </div>
        <div class="w-50 h6 container-title-responsive">
          <h5 class="h4 mb-3 mt-5" id="tituloTiendaDiferencia">Amor</h5>
          <p style="font-weight: 400;font-size: 22px">Por último, lo más importante,
            <strong>nos consideramos fieles amantes de
              todos los animales</strong>. Por este motivo, para nosotros cada una de las entregas que realizamos no es
            solo una venta
            más, sino que representa un momento único que nos llena el alma de felicidad.
          </p>
        </div>
      </div>

      <img data-aos="fade-up" data-aos-duration="3000" class="col-6 d-inline perroPagTiendaDestacado"
        src="/assets/perroPagTiendaDestacado.png" alt="perro tienda" id="imgPerrito">

    </div>

    <div class="d-flex justify-content-evenly text-center" id="divPasosParaComprar"
    v-bind:class="hideNav ? '': 'show-conocenos'" data-aos="zoom-in" data-aos-duration="1000">
    <div class="text-center item-container">
      <img class="w-100" src="./assets/cat.jpg" alt="agrega a tu carrito" />
      <p class="h6">Agrega a tu carrito los productos que necesitas.</p>
    </div>

    <div class="text-center item-container">
      <img class="w-100" src="./assets/pet.jpg" alt="elige el medio de pago" />
      <p class="h6">Elegi el medio de pago que desees y aprovecha nuestras promos.</p>
    </div>

    <div class="text-center item-container ">
      <img class="w-100" src="./assets/catydog.jpg" alt="recibe tu pedido" />
      <p class="h6">Recibi tu pedido o coordina un punto de retiro.</p>
    </div>
  </div>

  <footer class="text-white">
    <div class="contenedor-footer">
      <div data-aos="zoom-in" data-aos-duration="1000">
        <div class="contenedor-logo">
          <img class="logo-footer" src="./assets/logo.png" alt="logoPng">
        </div>
        <a class="navbar-brand-footer pb-3" href="#">Pet<span class="fw-bold">Shop</span> Franco</a>
        <p class="h6">© 2022 Franco mundo de las mascotas</p>
        <p class="h6">Todos los derechos reservados</p>
      </div>
      <div data-aos="zoom-in" data-aos-duration="1000">
        <h5 class="pb-4 h3">Acerca de Franco</h5>
        <div class="contenedor-botones ">
          <a class="h6" href="#">Blog</a>
          <a class="h6" href="#">Trabaja con Nosotros</a>
          <a class="h6" href="#">Sucursales</a>
          <a class="h6" href="#">Revista del mes</a>
          <a class="h6" href="#">Desarrollo Institucuinal</a>
          <a class="h6" href="#">Proveedores</a>
          <a class="h6" href="#">Franquicias</a>
        </div>
      </div>
      <div data-aos="zoom-in" data-aos-duration="1000">
        <h5 class="pb-4 h3">Servicios</h5>
        <div class="contenedor-botones">
          <a class="h6" href="#">Envío Programado</a>
          <a class="h6" href="#">Formas de Entrega</a>
          <a class="h6" href="#">Cambios y devoluciones</a>
          <a class="h6" href="#">Legales</a>
          <a class="h6" href="#">Cyber Monday 2022</a>
          <a class="h6" href="#">Hotsale 2022</a>
          <a class="h6" href="#">Botón de arrapentimiento</a>
        </div>
      </div>
      <div data-aos="zoom-in" data-aos-duration="1000">
        <h5 class="pb-4 h3">Contacto</h5>
        <div>
          <p class="h6">Atencion Telefonica</p>
          <p class="h6">0810-220-2345</p>
        </div>
        <div class="pt-3">
          <p class="h6">Atencion Whatsapp</p>
          <p class="h6">+54-911-6702-6320</p>
        </div>
        <div class="pt-3">
          <p class="h6">Lunes a Sabado de 9 a 21hs</p>
          <p class="h6">Domingo de 10 a 20 hs</p>
        </div>
      </div>
      <div class="contenedorDeLogos" data-aos="zoom-in" data-aos-duration="1000">
        <div class="iconos-wrapper pb-2">
          <i class="fa-brands fa-instagram iconos pe-2 ps-3 "></i>
          <i class="fa-brands fa-facebook-f  iconos pe-2"></i>
          <i class="fa-brands fa-twitter iconos pe-2"></i>
          <i class="fa-brands fa-pinterest-p iconos"></i>
        </div>
        <img class="iconoGoogle" src="./assets/apps.png" alt="iconoGoogle">
        <div class="pt-1">
          <img class="tarjetas ps-3" src="./assets/Visa-Card-Logo-PNG-Clipart-Background.png" alt="tarjetas">
        </div>
      </div>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/2544a6d2ae.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="./scripts/main.js"></script>

</body>

</html>