:root {
    --color1: #fc5b5b;
    --color2: #ffc13c;
    --color3: #55cfc2;
    --color4: #c35edb;
    --color5: #f37b21;
    --color6: #7a3d8b;
    --color7: #f7ded1;
    --color8: #cedc00;
    --color9: #ffe95f;
    --color10: #2fb38e;
    --nav-width: 70vw;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: rgb(122, 61, 139);
    background: radial-gradient(circle, rgba(122, 61, 139, 1) 0%, rgba(85, 207, 194, 1) 100%);
    min-width: 100%;
    min-height: 100vh;
  }
  
  #main {
    background: rgba(226, 113, 47);
  }
  
  #video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    transform: translateX(-50%) translateY(-50%);
  }
  
  /*WELCOME */
  #welcome {
    width: 40rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-left: 15vw;
    font-weight: 1000;
    color: white;
    font-family: 'Lobster', cursive;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    flex-direction: column;
    transition: all 1.2s;
  }
  
  #welcome p {
    font-weight: 300;
  }
  
  #welcome button {
    font-weight: 400;
  }
  
  /* From uiverse.io by @BHARGAVPATEL1244 */
  #shop-button button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: var(--color7);
    color: rgb(0, 0, 0);
    width: 300px;
  }
  
  #shop-button button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
  }
  
  #shop-button button:hover span {
    color: rgb(0, 0, 0);
  }
  
  #shop-button button::before,
  #shop-button button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 0;
  }
  
  #shop-button button::before {
    content: "";
    background: #2fb38e;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  
  #shop-button button:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  
  /* ----------NAVBAR ------------*/
  
  .custom-nav {
    position: fixed;
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
  }
  
  a {
    font-size: 1.5rem;
  }
  
  .nav_slide a:hover {
    transform: scale(1.4);
    transition: all 0.3s;
    color: var(--color1);
  }
  
  .logo {
    height: 6rem;
  }
  #listNav{
    padding-left: 4rem;
  }

  
  .nav_slide {
    height: 100vh;
    background-color: var(--color9);
    width: 25%;
    color: black;
    padding: 1rem;
    transition: all 0.7s;
    position: fixed;
  }
  
  i {
    font-size: 2.5rem;
    cursor: pointer;
  
  }
  
  nav i:hover {
    transform: scale(1.3);
    transition: all 0.3s;
  }
  
  .link {
    padding: 0.5rem;
    color: black;
  }
  
  .show {
    transform: translate(0px)
  }
  
  .hidden {
    /* position: fixed; */
    transform: translate(-500px)
  }
  
  .show-welcome {
    margin-left: 10rem;
    transition: all 0.1s;
  }
  
  
  /* Nav interno*/
  
  .internal_nav {
    --br_top: 18px;
    border-radius: var(--br_top) var(--br_top) 0 0;
    /* margin-inline: 2rem; */
  
  
    /* background: rgb(163, 161, 161); */
  
  
  }
  
  .internal_nav span {
    color: var(--color1);
    font-weight: bolder;
  }
  
  .internal_nav .nombre {
    color: var(--color3);
    font-family: 'Sigmar One', cursive;
  
  }
  
  .internal_nav a {
    text-decoration: none;
    color: white;
  }
  
  .internal_nav .productos_links a {
    color: black;
  }
  
  .logo_nav {
    --logo: 4rem;
    width: var(--logo);
    height: var(--logo);
  }
  
  .car_shopping img {
    width: 2rem;
  }
  .internal_nav .productos_link a{
    color: var(--color3);
     
  }

/* Conocenos */
#conocenos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 3rem 0rem;
    font-size: 1.5rem;
}

#conocenos-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conocenos h3 {
    font-weight: 700;
}

#conocenos p {
    width: 70%;
}

#all-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 70%;

}

#all-icons h4 {
    font-size: 1rem;
    font-weight: 800;
}

.icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ------ TARJETAS ----- */

/*Dylan*/
#jueguetes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5rem;
}

/* 
.card {
    width: 35vh;
    height: 30vh;
    border-radius: 1em;
    padding: 1.5rem;
    background: #f5f5f5;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 20px rgba(107, 69, 101, 0.281);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.432);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.card-info {
    position: relative;
    z-index: 3;
    color: #070707;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
}

.text-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.text-body {
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 5px 0 15px 0;
}
*/
.card-button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #f1eeee;
    color: #000;
    font-weight: bold;
    transition: 0.4s ease;
}

/* 
.card-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fffefe;
    background: linear-gradient(to bottom, #e7aeae, #ee9ca7);
}

.card:hover {
    transform: translateY(10%);
}

.card:hover:before {
    opacity: 1;
}

.card:hover .card-info {
    opacity: 1;
    transform: translateY(0);
}
*/
.card-button:hover {
    background: dodgerblue;
    color: #ffffff;
}

.jueguetes {
    width: 100%;
    height: 100%;

}




/*Dylan*/

/* Karo--Footer*/
.iconoGoogle {
    width: 12rem;
}

.contenedor-footer {
    padding-top: 9rem;
    background-image: url(../assets/bg-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35% 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    margin-top: 3rem;
}

.logo-footer {
    width: 4rem;
}

.contenedor-logo {
    display: flex;
    justify-content: center;
}

.navbar-brand-footer {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

.contenedor-botones {
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
    color: azure;
}

footer a:hover {
    color: var(--color6)
}

.tarjetas {
    width: 11rem;
    height: 2.5rem;
}

.contenedorDeLogos {
    display: flex;
    flex-direction: column;
}

.iconos {
    display: inline-block;
    animation: float 5s ease-in-out infinite;
}

.fa-facebook-f {
    animation-delay: 1s;
}

.fa-twitter {
    animation-delay: 2s;
}

.fa-pinterest-p {
    animation-delay: 3s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

/* aca pegalo xd te pego el form*/

#contactenos {

    background: rgb(252, 91, 91);
    background: linear-gradient(0deg, rgba(252, 91, 91, 0.7847514005602241) 0%, rgba(195, 94, 219, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.4) 3px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 5%;
}

#contactenosSenior {
    font-weight: 900;
    color: white;
    background: rgb(247, 222, 209);
    background: radial-gradient(circle, rgba(247, 222, 209, 1) 0%, rgba(195, 94, 219, 1) 79%);
}

#BTN1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

article iframe {
    box-shadow: rgba(0, 0, 0, 0.4) 3px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}


.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgb(0, 0, 0, 0.5);
    overflow: hidden;
    width: 300px;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
    background: rgb(203, 231, 31);
    background: linear-gradient(0deg, rgba(203, 231, 31, 1) 0%, rgba(38, 184, 131, 1) 73%);
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-poco-stock {
    background-color: var(--color1);
}

.card-body p {
    display: none;
    transition-delay: all 1s;
}

/* .card :hover+ */
.card-body p {
    display: block;
    font-size: 13px;
    margin: 0 0 30px;
    transition: all 2s;
}

#favorito {
    color: red;
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    padding: 1rem 2.5rem;
}

#favorito :hover {
    transform: scale(1.3);
    transition: all 2s;
}


/* div creado por jose */
/* aca comienzan los estilos aplicados al div responsable jose */

#divPasosParaComprar{
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* display: flex; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* padding: 3rem 0rem; */
    /* font-size: 1.5rem; */
}


#contenido {
    background-color: rgba(226, 113, 47);
    height: 100%;
    width: 100%;
}

#contenedorTexto {
    padding: 130px;
    text-align: start;
    color: #ffff;
}

#contenidoTextoPrincipal {
    font-family: 'GalanoGrotesque', sans-serif;
    font-size: 45px;
    font-style: bold;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #ffff;
}

a:hover {
    color: #ffff
}

#contenidotextoParrafo {
    font-family: 'GalanoGrotesque', sans-serif;
    font-size: 29px;
}

#contenedorTextoBoton {
    font-size: 24px;
    margin: 0px, 100px;
}

#imgPerrito {
    text-align: center;
    border-radius: 1px, solid, #fd7e14;
    padding: 25px;
}

#main-content {
    padding: 2rem;
}

/* carousel */

.contaiter-carousel-items {
    display: flex;
}

.carousel-img {
    padding: 1rem;
    height: 15rem;
    width: 15rem;
}
.container-img{
    display : flex;
    align-items: center;
    justify-content: center;
}
.carrousel-text {
    text-align: center;
    height: 4rem;
}

.container-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgb(0, 0, 0, 0.5);
    overflow: hidden;
    width: 300px;
    margin: 1rem 4rem;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%
}

